{{- $root := . -}}
{{- range $driver := .Values.drivers -}}
{{- if hasSuffix  "rbd.csi.ceph.com" $driver.name }}
{{- $normalizedDriverName := include "normalizeDriverName" $driver.name }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ $normalizedDriverName }}-ctrlplugin-crb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $normalizedDriverName }}-ctrlplugin-cr
subjects:
- kind: ServiceAccount
  name: {{ $normalizedDriverName }}-ctrlplugin-sa
  namespace: {{ $root.Release.Namespace }}
{{- end }}
{{- end }}
