# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binary paths
/bin
/out

# Dependency directories (remove the comment below to include it)
# vendor/

#editor specific
.bash_history
.vscode/

# Go workspace file
go.work
go.work.sum

# git merge files
*.orig
*.patch
*.rej

# Locally generated install files
dist/

# Locally generated dockerfile for multi-arch
Dockerfile.cross
