cephfsCtrlpluginSa:
  serviceAccount:
    annotations: {}
cephfsNodepluginSa:
  serviceAccount:
    annotations: {}
controllerManager:
  manager:
    args:
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
    env:
      csiServiceAccountPrefix: ceph-csi-operator-
      watchNamespace: ""
    image:
      repository: quay.io/cephcsi/ceph-csi-operator
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  podSecurityContext:
    runAsNonRoot: true
  replicas: 1
  serviceAccount:
    annotations: {}
imagePullSecrets: []
kubernetesClusterDomain: cluster.local
nfsCtrlpluginSa:
  serviceAccount:
    annotations: {}
nfsNodepluginSa:
  serviceAccount:
    annotations: {}
nvmeofCtrlpluginSa:
  serviceAccount:
    annotations: {}
nvmeofNodepluginSa:
  serviceAccount:
    annotations: {}
rbdCtrlpluginSa:
  serviceAccount:
    annotations: {}
rbdNodepluginSa:
  serviceAccount:
    annotations: {}
