apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-cephfs-ctrlplugin-sa
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.cephfsCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-cephfs-nodeplugin-sa
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.cephfsNodepluginSa.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-controller-manager
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.controllerManager.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-nfs-ctrlplugin-sa
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.nfsCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-nfs-nodeplugin-sa
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.nfsNodepluginSa.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-rbd-ctrlplugin-sa
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.rbdCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-rbd-nodeplugin-sa
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.rbdNodepluginSa.serviceAccount.annotations | nindent 4 }}
