{{- $root := . -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-cephfs-ctrlplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.cephfsCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-cephfs-nodeplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.cephfsNodepluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-controller-manager
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.controllerManager.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-nfs-ctrlplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.nfsCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-nfs-nodeplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.nfsNodepluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-nvmeof-ctrlplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.nvmeofCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-nvmeof-nodeplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.nvmeofNodepluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-rbd-ctrlplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.rbdCtrlpluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ceph-csi-operator.fullname" . }}-rbd-nodeplugin-sa
  namespace: {{ $root.Release.Namespace }}
  labels:
  {{- include "ceph-csi-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.rbdNodepluginSa.serviceAccount.annotations | nindent 4 }}
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | indent 2 }}
{{- end }}
